{% from 'macros.html' import get_menu_options %}
{% extends "layout.html" %}
{% block menu_options %}
{{ get_menu_options(logged_in=True) }}
{% endblock %}
{% block content %}
<div class="window">
  <div class="profile-name" >{{ result['name'] }}</div>
  <form action="{{ url_for('edit_person') }}" method="post">
    <table id="full_profile_table">
        <tr>
          <input type=hidden name='id' value="{{ result['id'] }}">
          <td>ID</td>
          <td>{{ result['id'] }}</td>
        </tr>
        <tr>
          <td><label for="connection">Connection</label></td>
          <td><input type=text name="connection" id="connection" value="{{ result['connection'] }}"></td>
        </tr>
        <tr>
          <td><label for="employer">Employer</label></td>
          <td><input type=text name="employer" id="employer" value="{{ result['employer'] }}"></td>
        </tr>
        <tr>
          <td><label for="role">Role</label></td>
          <td><input type=text name="role" id="role" value="{{ result['role'] }}"></td>
        </tr>
        <tr>
          <td><label for="city">City</label></td>
          <td><input type=text name="city" id="city" value="{{ result['city'] }}"></td>
        </tr>
        <tr>
          <td><label for="contact">Contact</label></td>
          <td><input type=text name="contact" id="contact" value="{{ result['contact'] }}"></td>
        </tr>
        <tr>
          <td><label for="notes">Notes</label></td>
          <td><textarea name="notes" id="notes">{{ result['notes'] }}</textarea></td>
        </tr>
        <tr>
          <td><label for="tags">Tags</label></td>
          <td><textarea name="tags" id="tags">{{ result['tags'] }}</textarea></td>
        </tr>
    </table>
    <input type=submit name="submit-edits" class="half-window responsive button single" value="Submit Edits">
  </form>
</div>
{% endblock %}
