{% from 'macros.html' import get_menu_options %}
{% extends "layout.html" %}
{% block menu_options %}
{{ get_menu_options(logged_in=True) }}
{% endblock %}
{% block content %}
<div class="window">
  <div class="profile-name" >{{ result['name'] }}</div>
  <form action="{{ url_for('edit_person') }}" method="post">
    <table id="full_profile_table">
        <tr>
          <input type=hidden name='id' value="{{ result['id'] }}">
          <td>ID</td>
          <td></td>
        </tr>
        <tr>
          <td>Connection</td>
          <td><input type=text name="connection" value="{{ result['connection'] }}"></td>
        </tr>
        <tr>
          <td>Employer</td>
          <td><input type=text name="employer" value="{{ result['employer'] }}"></td>
        </tr>
        <tr>
          <td>Role</td>
          <td><input type=text name="role" value="{{ result['role'] }}"></td>
        </tr>
        <tr>
          <td>City</td>
          <td><input type=text name="city" value="{{ result['city'] }}"></td>
        </tr>
        <tr>
          <td>Contact</td>
          <td><input type=text name="contact" value="{{ result['contact'] }}"></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td><input type=text name="notes" value="{{ result['notes'] }}"></td>
        </tr>
        <tr>
          <td>Tags</td>
          <td><input type=text name="tags" value="{{ result['tags'] }}"></td>
        </tr>
    </table>
    <input type=submit name="submit-edits" class="half-window responsive button single" value="Submit Edits">
  </form>
</div>
{% endblock %}
